In [60]:
import os
import pandas as pd

In [61]:

def extract():
    employees = pd.read_csv('raw/employees.csv')
    users = pd.read_csv('raw/users.csv')
    employee_dept = pd.read_csv('raw/employee_dept.csv')
    skills = pd.read_csv('raw/skills.csv')
    employee_skill_proficiency = pd.read_csv('raw/employee_skill_proficiency.csv')
    assessments = pd.read_csv('raw/assessments.csv')
    courses = pd.read_csv('raw/courses.csv')
    employee_certifications = pd.read_csv('raw/employee_certifications.csv')
    
    return {
        'Employees': employees,
        'Users': users,
        'EmployeeDept': employee_dept,
        'Skills': skills,
        'EmployeeSkillProficiency': employee_skill_proficiency,
        'Assessments': assessments,
        'Courses': courses,
        'EmployeeCertifications': employee_certifications,
    }

In [62]:
tables = extract()

In [63]:
def transform(tables):
    # Transform Employees
    df_employees = tables['Employees']
    df_employees['birth_date'] = pd.to_datetime(df_employees['birth_date'], errors='coerce')
    df_employees['hire_date'] = pd.to_datetime(df_employees['hire_date'], errors='coerce')
    df_employees['experience'] = df_employees['experience'].str.extract(r'(\d+)').astype(int)
    df_employees['gender'] = df_employees['gender'].str.capitalize()
    df_employees['activeStatus'] = df_employees['activeStatus'].str.capitalize() 

    # Transform Users
    df_users = tables['Users']
    df_users['created_at'] = pd.to_datetime(df_users['created_at'], errors='coerce')

    # Transform EmployeeDept
    df_employee_dept = tables['EmployeeDept']
    df_employee_dept['from'] = pd.to_datetime(df_employee_dept['from'], errors='coerce')
    df_employee_dept['to'] = pd.to_datetime(df_employee_dept['to'], errors='coerce')
    df_employee_dept['activeStatus'] = df_employee_dept['activeStatus'].str.capitalize()  

    # Transform Skills
    df_skills = tables['Skills']
    df_skills['skillName'] = df_skills['skillName'].str.strip() 
    df_skills['category'] = df_skills['category'].str.strip() 

    # Transform EmployeeSkillProficiency
    df_emp_skill_prof = tables['EmployeeSkillProficiency']
    df_emp_skill_prof['proficiency'] = df_emp_skill_prof['proficiency'].clip(lower=1, upper=5)

    # Transform Assessments
    df_assessments = tables['Assessments']
    df_assessments['due_date'] = pd.to_datetime(df_assessments['due_date'], errors='coerce')
    df_assessments['assessment_score'] = df_assessments['assessment_score'].clip(lower=0, upper=df_assessments['max_score'])
    df_assessments['assessment_percentage'] = (df_assessments['assessment_score'] / df_assessments['max_score']) * 100

    # Transform Courses
    df_courses = tables['Courses']
    df_courses['duration'] = df_courses['duration'].replace(" weeks", "")

    # Transform EmployeeCertifications
    df_emp_certifications = tables['EmployeeCertifications']
    df_emp_certifications['startDate'] = pd.to_datetime(df_emp_certifications['startDate'], errors='coerce')
    df_emp_certifications['completionDate'] = pd.to_datetime(df_emp_certifications['completionDate'], errors='coerce')

    # Return the transformed tables
    return {
        'Employees': df_employees,
        'Users': df_users,
        'EmployeeDept': df_employee_dept,
        'Skills': df_skills,
        'EmployeeSkillProficiency': df_emp_skill_prof,
        'Assessments': df_assessments,
        'Courses': df_courses,
        'EmployeeCertifications': df_emp_certifications,
    }

In [64]:
print(tables)

{'Employees':      empID        empName            desgination experience  birth_date  \
0        1  Alice Johnson      Software Engineer    3 years  1990-05-15
1        2      Bob Smith  Sr. Software Engineer    5 years  1988-08-22
2        3  Charlie Brown      Solutions Enabler    4 years  1992-01-10
3        4   Diana Prince   Solutions Consultant    6 years  1985-12-30
4        5  Evelyn Harper    Principal Architect   10 years  1982-09-14
..     ...            ...                    ...        ...         ...
145    146     Owen Scott      Solutions Enabler    3 years  1993-02-14
146    147     Emma Clark    Principal Architect   10 years  1984-09-15
147    148     Max Taylor  Sr. Software Engineer    6 years  1986-10-04
148    149     Lucy Lewis      Software Engineer    2 years  1995-03-30
149    150    Henry Brown      Software Engineer     1 year  1996-11-25

      hire_date  salary  gender activeStatus           created_at
0    2021-06-01   75000  Female       Active  2021-06-01 09:00:00
1    2019-03-15   90000    Male       Active  2019-03-15 10:00:00
2    2020-07-20   85000    Male     Inactive  2020-07-20 11:00:00
3    2018-04-10  110000  Female       Active  2018-04-10 12:00:00
4    2015-11-11  150000  Female       Active  2015-11-11 13:00:00
..          ...     ...     ...          ...                  ...
145  2021-06-01   83000    Male       Active  2021-06-01 09:00:00
146  2013-08-20  162000  Female       Active  2013-08-20 10:30:00
147  2015-05-20   95000    Male       Active  2015-05-20 11:00:00
148  2021-01-15   77000  Female       Active  2021-01-15 12:30:00
149  2023-03-10   74000    Male       Active  2023-03-10 14:00:00

[150 rows x 10 columns], 'Users':      empID   username                  email  \
0        1       jdoe       jdoe@example.com
1        2     asmith     asmith@example.com
2        3  bwilliams  bwilliams@example.com
3        4     cjones     cjones@example.com
4        5   djohnson   djohnson@example.com
..     ...        ...                    ...
145    146      qgray      qgray@example.com
146    147      rhill      rhill@example.com
147    148  ssullivan  ssullivan@example.com
148    149    tnorris    tnorris@example.com
149    150    uhughes    uhughes@example.com

                                              password   role  \
0    $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
1    $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
2    $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
3    $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
4    $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...  admin
..                                                 ...    ...
145  $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
146  $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
147  $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
148  $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user
149  $2b$12$2mfK0OCv5eTHI8EnN92equ61tRhX0ogY.E0TuC1...   user

           created_at
0    01-01-2024 10:00
1    02-01-2024 11:00
2    03-01-2024 12:00
3    04-01-2024 13:00
4    05-01-2024 14:00
..                ...
145  26-05-2024 19:00
146  27-05-2024 20:00
147  28-05-2024 21:00
148  29-05-2024 22:00
149  30-05-2024 23:00

[150 rows x 6 columns], 'EmployeeDept':      empID        tribe      tribeHead                 from  \
0        1      techops  alice.johnson  2023-01-01 09:00:00
1        2  datascience      bob.smith  2023-02-15 09:00:00
2        3    fullstack  charlie.brown  2023-03-10 09:00:00
3        4      techops  alice.johnson  2023-04-20 09:00:00
4        5  datascience      bob.smith  2023-05-25 09:00:00
..     ...          ...            ...                  ...
145    146  datascience   samuel.clark  2028-08-15 09:00:00
146    147    fullstack       tina.kim  2028-09-05 09:00:00
147    148      techops      uma.james  2028-09-10 09:00:00
148    149  datascience  victor.miller  2028-10-15 09:00:00
149    150    fullstack    wanda.brown  2028-10-20 09:00:00

                      to activeStatus           created_at
0    2024-01-01 09:00:00       active  2023-01-01 09:00:00
1    2024-02-15 09:00:00       active  2023-02-15 09:00:00
2    2024-03-10 09:00:00       active  2023-03-10 09:00:00
3    2024-04-20 09:00:00       active  2023-04-20 09:00:00
4    2024-05-25 09:00:00       active  2023-05-25 09:00:00
..                   ...          ...                  ...
145  2029-08-15 09:00:00       active  2028-08-15 09:00:00
146  2029-09-05 09:00:00     inactive  2028-09-05 09:00:00
147  2029-09-10 09:00:00       active  2028-09-10 09:00:00
148  2029-10-15 09:00:00       active  2028-10-15 09:00:00
149  2029-10-20 09:00:00     inactive  2028-10-20 09:00:00

[150 rows x 7 columns], 'Skills':      skillID                  skillName               category
0          1         Python Programming  Programming Languages
1          2                 JavaScript  Programming Languages
2          3         Project Management      Management Skills
3          4              Data Analysis            Data Skills
4          5           Machine Learning           Data Science
..       ...                        ...                    ...
145      146         Regulatory Affairs      Management Skills
146      147                Prototyping          Design Skills
147      148          Video Game Design        Creative Skills
148      149            Quality Control       Technical Skills
149      150  Supply Chain Optimization      Management Skills

[150 rows x 3 columns], 'EmployeeSkillProficiency':      empID  skillID  proficiency
0        1        1            4
1        1        2            5
2        1        3            3
3        2        4            2
4        2        5            4
..     ...      ...          ...
145     72       26            3
146     73       27            1
147     73       28            5
148     74       29            4
149     74       30            3

[150 rows x 3 columns], 'Assessments':      empID  courseID  skillID          skillCategory  assessmentID  \
0        1         1        1  Programming Languages           101
1        1         2        2  Programming Languages           102
2        2         3        3      Management Skills           103
3        2         4        4            Data Skills           104
4        3         5        5           Data Science           105
..     ...       ...      ...                    ...           ...
131      6        12      132            Data Skills           232
132      7        13      133       Technical Skills           233
133      7        14      134            Soft Skills           234
134      8        15      135      Management Skills           235
135      8        16      136        Web Development           236

     assessment_score  max_score    due_date  test_taken test_completed
0                  85        100  2024-05-01  2024-04-28     2024-04-30
1                  90        100  2024-05-05  2024-05-01     2024-05-03
2                  75        100  2024-05-10  2024-05-07     2024-05-09
3                  80        100  2024-05-15  2024-05-12     2024-05-14
4                  95        100  2024-05-20  2024-05-18     2024-05-19
..                ...        ...         ...         ...            ...
131                81        100  2026-02-15  2026-02-12     2026-02-14
132                78        100  2026-02-20  2026-02-17     2026-02-19
133                94        100  2026-02-25  2026-02-22     2026-02-24
134                80        100  2026-03-02  2026-02-28     2026-03-01
135                82        100  2026-03-07  2026-03-04     2026-03-06

[136 rows x 10 columns], 'Courses':      courseID                                   courseName  duration
0           1                  Introduction to Programming  10 weeks
1           2               Data Structures and Algorithms   8 weeks
2           3                 Web Development Fundamentals  12 weeks
3           4                  Database Management Systems   6 weeks
4           5              Software Engineering Principles  14 weeks
..        ...                                          ...       ...
145       146  Introduction to Digital Marketing Analytics  12 weeks
146       147                   User Interface Prototyping  10 weeks
147       148              Introduction to Digital Privacy   8 weeks
148       149        Voice Technology and Its Applications  14 weeks
149       150    Introduction to Human Resource Management  10 weeks

[150 rows x 3 columns], 'EmployeeCertifications':      empID  courseID            startDate       completionDate
0        1         1  2023-01-10 09:00:00  2023-03-10 17:00:00
1        2         2  2023-02-01 10:00:00  2023-04-01 15:00:00
2        3         3  2023-03-05 11:00:00  2023-05-05 16:00:00
3        4         4  2023-04-10 08:30:00  2023-06-10 14:00:00
4        5         5  2023-01-15 09:30:00  2023-03-15 17:30:00
..     ...       ...                  ...                  ...
145    146        26  2023-03-06 08:30:00  2023-05-06 14:00:00
146    147        27  2023-04-16 09:00:00  2023-06-16 14:00:00
147    148        28  2023-01-12 10:00:00  2023-03-12 15:00:00
148    149        29  2023-02-08 09:45:00  2023-04-08 17:15:00
149    150        30  2023-03-19 11:00:00  2023-05-19 16:00:00

[150 rows x 4 columns]}

In [65]:

transformed_tables = transform(tables)

In [66]:
def load(tables, folder_name='transformed_tables'):
    # Create a new folder if it doesn't exist
    if not os.path.exists(folder_name):
        os.makedirs(folder_name)

    # Save each DataFrame as a CSV file in the specified folder
    for table_name, df in tables.items():
        file_path = os.path.join(folder_name, f"{table_name}.csv")
        df.to_csv(file_path, index=False)
        print(f"Saved: {file_path}")

In [67]:

load(transformed_tables)

Saved: transformed_tables\Employees.csv
Saved: transformed_tables\Users.csv
Saved: transformed_tables\EmployeeDept.csv
Saved: transformed_tables\Skills.csv
Saved: transformed_tables\EmployeeSkillProficiency.csv
Saved: transformed_tables\Assessments.csv
Saved: transformed_tables\Courses.csv
Saved: transformed_tables\EmployeeCertifications.csv